.Rhistory
inst/doc
vignettes/branchpointer-concordance.tex
vignettes/branchpointer.log
vignettes/branchpointer.pdf
vignettes/branchpointer.synctex.gz
vignettes/branchpointer.tex
vignettes/branchpointer.toc
vignettes/figure

